* {
    margin: 0; 
    padding: 0; 
    list-style: none;
}

body{
    background: #696969; 

}

a{
    text-decoration: none;
    color: rgb(196, 196, 196);
}

a:hover{
    color: rgb(255, 255, 255);
}

#header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 1px;
    z-index: 2;
}

.trocar-tema{
    display: flex;
    justify-content: flex-end;

}

#trocarTema{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#trocarTema:hover {
    color: green;
}

.menu{
    display: flex;
    align-items: center;
    background: #323232;
    gap: 15px; 
}

.menu-item{
    width: 100%;
}

.menu-link{
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-mobile{
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid rgb(228, 226, 226);
}
.menu-mobile  .menu-link{
    flex-direction: column;
    justify-content: center;
    padding: 8px 15px;
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.menu-icon,
.menu-text{
    font-weight: 600;
}
.menu-icon {
    font: 18px;
}
.menu-text {
    font-size: 14px;
    text-transform: uppercase;
}

.header-nav {
    display: none;
}

.menu-principal {
    gap: 16px;
}

.menu-social {
    gap: 22px;
}

.btn {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 5px 18px;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
}
.btn span,
.btn i {
    font-size: 18px;
    text-transform: uppercase;
}

.btn-primary {
    border: 1px solid white;
    border-radius: 20px;
}

#home {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.main-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 20px;
}

#home,
.projetos,
.sobre,
.contato {
    padding: 40px 16px;
}

@media (min-width: 768px) {
    #header {
        position: fixed;
        border-bottom: 1px solid white;
        padding: 16px 96px;
        background-color: #323232;
    }
    .header-nav {
        display: flex;
    }

    .nav-mobile {
        display: none;
    }
    .header-nav,
    .trocar-tema {
        min-width: 30%;
    }
}
